body {
    padding: 10px;
    font-size: 12px;
}

table {
    width: 100%;
}

th {
    background-color: lightgray;
}

td, th {
    border: 1px solid black;
    padding: 5px;
    vertical-align: top;
}

table.layout {
    table-layout: fixed;
}

table.layout tr th {
    text-align: center;
}

th:nth-of-type(8n), th:nth-of-type(8n-1), th:nth-of-type(8n-2), th:nth-of-type(8n-3) {
    background-color: gray;
}

.rotate {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.layout_bit_index {
    width: 3.125%;
    text-align: center;
}

.layout_field_name {
    text-align: center;
    vertical-align: middle;
}

.fields_nbits {
    width: 10%;
}
.fields_name {
    width: 20%;
}
.fields_access {
    width: 10%;
}
.fields_description {
    width: 60%;
}

input[type="text"] {
    width: 100%;
    border: 0px;
    text-align: center;
    box-sizing: border-box;
}

#toolbar {
    float: right;
    margin: 10px;
}

button {
    width: 5ex;
}
